<div>
  <h2 id="page-heading" data-cy="HistoricHeading">
    <span jhiTranslate="carsApp.historic.home.title">Historics</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="carsApp.historic.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-historic"
        [routerLink]="['/historic/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="carsApp.historic.home.createLabel"> Create a new Historic </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="historics?.length === 0">
    <span jhiTranslate="carsApp.historic.home.notFound">No historics found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="historics && historics.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="carsApp.historic.kms">Kms</span></th>
          <th scope="col"><span jhiTranslate="carsApp.historic.price">Price</span></th>
          <th scope="col"><span jhiTranslate="carsApp.historic.car">Car</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let historic of historics; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/historic', historic.id, 'view']">{{ historic.id }}</a>
          </td>
          <td>{{ historic.kms }}</td>
          <td>{{ historic.price }}</td>
          <td>
            <div *ngIf="historic.car">
              <a [routerLink]="['/car', historic.car?.id, 'view']">{{ historic.car?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/historic', historic.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/historic', historic.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(historic)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
